.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: end;

}

.top_btn {
    display: flex;
    gap: 32px;
}

.Contact_Form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input {
    height: 40px;
    padding: 0 8px;
}

.form_control label {
font-size: 14px;
position: absolute;
top: -12px;
left: 10px;
background-color: white;
padding: 0 10px;
}

.form_control textarea {
    font-size: 14px;
    padding: 10px 15px;
}

.Contact_Form form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 20px;
}