@import url(
  'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'
  );

 body {
  font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
}

.Container {
    max-width: 1280px;
    margin: 0 auto;
}

.main_container {
display: flex;
flex-direction: column;
height: calc(100h - 72px);
}
